button{
    min-height: 50px;
    min-width: 280px;
    background-image:   linear-gradient(to bottom right,rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 25%,),
                        linear-gradient(to top left,rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 25%,),
                        linear-gradient(to bottom, #FAAD42 30%, #F05339 50%);
    border-radius: 30px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    font-weight: 900 ;
    color: white;
    font-size: 22px;
    cursor: pointer;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    &:hover{
        transform: scale(1.05);
    }

    &:active{
        transform: translateY(3px); 
    }
}

